.cardList .cardContainer{
    padding-bottom: .9rem;
    border-bottom: 1px solid #E3E3E3;
}

.cardContainer, .cardContent{
    display: flex;
    align-items: center;
    width: 100%;
}

.cardBtn{
    display: flex;
    align-items: center;
}

.cardContainer{
    margin-bottom: .9rem;
}

.cardImage{
    max-width: 60px;
    max-height: 60px;
    border-radius: 60px;
    margin-right: 10px;
}

.cardDetail P{
    color: #000;
    margin-bottom: 0rem;
    cursor: pointer;
}

i{
    cursor: pointer;
}